@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.custum-input {
  @apply p-3 rounded-md mt-2 text-sm text-gray-400 w-full
}